@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Campton-Medium";
  src: url("/fonts/Campton-Medium.otf") format("opentype");
}


@font-face {
  font-family: "Campton-Black";
  src: url("/fonts/Campton-Black.otf") format("opentype");
}

@font-face {
  font-family: "Campton-Bold";
  src: url("/fonts/Campton-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Campton-Light";
  src: url("/fonts/Campton-Light.otf") format("opentype");
}

@font-face {
  font-family: "Campton-SemiBold";
  src: url("/fonts/Campton-SemiBold.otf") format("opentype");
}